@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Carattere&family=Cardo:ital,wght@0,400;0,700;1,400&family=Caveat+Brush&family=Caveat:wght@400;500;600;700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,wght@0,400;0,500;1,400;1,500;1,700&family=Dancing+Script:wght@400;500;600;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Manrope:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,wght@0,700;0,900;1,900&family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:ital,wght@1,500&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita+Swashed:wght@300&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}
a:focus,
.button:focus,
button:focus,
textarea,
.btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}
ul,
li,
ol,
a,
button,
input,
textarea,
select {
  list-style: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  outline: none !important;
  box-shadow: none !important;
}
a:hover {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
html {
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden !important;
}
body {
  font-size: 16px;
  font-style: normal;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
}
p,
li {
  color: #5c616c;
  font-size: 18px;
  line-height: 26px;
  font-family: "EB Garamond", serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Outfit", sans-serif;
  color: #000;
  font-weight: 600;
  margin-bottom: 0;
}
h1 {
  font-size: clamp(30px, 6vw, 50px);
  line-height: clamp(36px, 7vw, 56px);
}
h2 {
  font-size: clamp(25px, 3vw, 40px);
  line-height: clamp(31px, 3vw, 46px);
}
h3 {
  font-size: clamp(22px, 3vw, 30px);
  line-height: clamp(26px, 3vw, 36px);
}
h4 {
  font-size: clamp(17px, 4vw, 22px);
  line-height: clamp(23px, 3vw, 28px);
  margin-bottom: 0;
}
h5 {
  font-size: clamp(14px, 5vw, 20px);
  line-height: clamp(20px, 5vw, 26px);
}
h6 {
  font-size: clamp(12px, 5vw, 18px);
  line-height: clamp(18px, 5vw, 24px);
}
i.fa.fa-facebook {
  color: rgb(24, 138, 232) !important;
}
i.fa.fa-twitter {
  color: rgb(77, 180, 231) !important;
}
i.fa.fa-youtube {
  color: rgb(238, 0, 0) !important;
}
i.fa.fa-instagram {
  color: #de446b !important;
}
button.readmore__toggle {
  padding: 13px 26px;
}
button.readmore__toggle,
.process_count h4,
nav.cssmenu li.active a,
section.help .section_title h2,
div#counter-box p,
.btn-digi.btn-digi-primary:hover,
button.readmore__toggle:hover,
.slide .slide__content--headings h2,
.category_block_item ul a li,
.category_title h3,
section.who_we-are .section_title h2,
.contact-info,
.icon_block_header strong,
.icon_block_header a,
.button_text span,
.button_text span a,
ul.courses-link-list li a:hover,
section#nepal_map .section_title h5,
.contact_wrapp-icon h2 i.fa,
.job_detail-block ul li,
.category_side-job .job_title h4,
.category_side-job .job_title p,
.category_side-job .job-number h1,
.menu-btn,
section.slider_homepage .btn_theme a:hover,
.form_title h3,
.notice_img .event-det h1,
section.how_it-hepl .round_block_text h4,
section.timeline.bg_gray ol li h3,
.timeline .info h2,
.timelin-main li > div,
.timelin-main h1,
.timelin-main p,
.btn-digi.btn-digi-sec,
section.who_we-are .section_title h2 span,
.zero_cost {
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: grey 0px 0px 5px inset;
}
::-webkit-scrollbar-thumb {
  background: rgb(2, 93, 167);
}
.img_bg,
section.about::before,
.about_img::before,
.bg_img {
  background-position: center center;
  background-repeat: no-repeat !important;
}
.bg_orange {
  background-color: rgb(6, 161, 11) !important;
}
.bg_gray {
  background-color: rgb(248, 248, 248) !important;
}
.bg_blue {
  background-color: rgb(2, 93, 167) !important;
}
section {
  padding: 100px 0px;
}
.btn-digi.btn-digi-primary,
button.readmore__toggle {
  border: 1px solid #2574a9;
  padding: 14px 29px;
  transition: 0.4s;
}
.btn-digi.btn-digi-primary:hover,
button.readmore__toggle:hover {
  border: 1px solid #2574a9;
  background-color: #2574a9;
}
.btn-digi.btn-digi-sec {
  background: #1f419b;
  padding: 14px 29px;
  transition: 0.4s;
  cursor: pointer;
}
.btn-digi.btn-digi-sec:hover,
.btn-digi.btn-digi-sec {
  border: 1px solid #fff;
}
section.slider_homepage {
  margin-top: -1px;
  z-index: 9999;
}
@media (min-width: 992px) {
  .slider,
  .slide {
    height: clamp(400px, 50vw, 94vh);
  }
}
.slide,
.section_title h5 span,
.video-main,
.job_title h4,
.job_wrapp:hover .job-number h1,
.job_wrapp:hover .job_title h4,
.job_wrapp:hover .job_title p,
section.who_we-are .section_title h2,
div#counter-box,
.contact_wrapp-icon h2,
.catagories_list-text ul li,
.side-bar .menu_mobile,
.timeline ol li,
.timeline-wrapper,
.timelin-main,
.timelin-main li,
.timelin-main li > div {
  position: relative;
}
.slide .slide__img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
@media (min-width: 992px) {
  .slide .slide__img {
    position: absolute !important;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
  }
}
.slide .slide__img img {
  max-width: 100%;
  animation-duration: 3s;
  transition: all 1s ease 0s;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: clamp(400px, 50vw, 94vh);
  opacity: 1 !important;
}
section.slider_homepage {
  height: clamp(400px, 50vw, 94vh);
  margin-top: -129px;
}
.slide .slide__content {
  z-index: 999;
  width: 63%;
}
.slide .slide__content--headings .animated {
  transition: all 0.5s ease 0s;
  text-transform: capitalize;
}
.slider [data-animation-in] {
  opacity: 0;
  animation-duration: 1.5s;
  transition: opacity 0.5s ease 0.3s;
}
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
@keyframes zoomInImage {
  0% {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.zoomInImage {
  animation-name: zoomInImage;
}
@keyframes zoomOutImage {
  0% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.zoomOutImage {
  animation-name: zoomOutImage;
}
.slide__content--headings p.animated.fadeInUp span {
  padding-right: 10px;
}
.slide__content--headings p.animated.fadeInUp span i {
  padding-right: 3px;
}
.slide .slide__content--headings h2 {
  font-size: clamp(35px, 6vw, 72px);
  line-height: clamp(45px, 7vw, 83px);
  letter-spacing: 0px;
}
.slide .slide__content p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 5px;
  letter-spacing: 1px;
}
.slide__img::before,
section.banner::before {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  opacity: 0.8;
  background: #0000006e;
}
.image.fame-image img {
  height: clamp(300px, 50vw, 626px);
  object-fit: cover;
}
#button {
  display: inline-block;
  background-color: #2574a9;
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s ease 0s, opacity 0.5s ease 0s,
    visibility 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  border-style: solid;
  border-color: white;
  border-image: initial;
  border-width: 0px 2px 2px 0px;
  display: inline-block;
  padding: 8px;
  transform: rotate(225deg);
  top: 41%;
  left: 32%;
}
#button:hover {
  cursor: pointer;
  background-color: rgb(31 65 155);
}
#button:active {
  background-color: rgb(85, 85, 85);
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.video-main {
  display: inline-block;
  margin-top: 36px;
}
.video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  color: gray;
  display: inline-block;
  z-index: 999;
}
@keyframes waves {
  0% {
    transform: scale(0.2, 0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: scale(0.9, 0.9);
    opacity: 0;
  }
}
.waves {
  width: 150px;
  height: 150px;
  background: rgb(255, 255, 255);
  opacity: 0;
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
  animation: 3s ease-in-out 0s infinite normal none running waves;
}
.wave-1 {
  animation-delay: 0s;
}
.wave-2 {
  animation-delay: 1s;
}
.wave-3 {
  animation-delay: 2s;
}
.video-main i.fa.fa-play {
  left: -30px;
  top: -33px;
  color: gray;
}
.video_wrapp .btn_wrap {
  margin-left: 63px;
  margin-top: -21px;
}
.job-img img {
  width: 113px;
  margin-bottom: 15px;
  opacity: 0.2;
  left: -2px;
  bottom: -15px;
}
.job_title h4 {
  margin-bottom: 20px;
  color: rgb(34, 34, 34);
}
.job_title h4::before {
  background: rgb(16 165 21);
  width: 46px;
  height: 2px;
  bottom: -10px;
}
.job_title h4::before,
section.job::before,
.job_wrapp::before,
section.who_we-are::before,
.contact_wrapp-icon::before,
.contact_wrapp-icon h2::before,
.catagories_list-text ul li::before,
.side-bar::before,
section.services::before,
section.code_of-ethics::before,
.timeline::before,
.timeline::after,
.timeline ol li:not(:last-child)::after,
.timeline ol li div::before,
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before,
.timelin-main li:before,
.timelin-main li > div:after,
.timelin-main li > div:before,
.slide__img::before,
section.banner::before,
.about_img::before,
.contact_wrapp-icon h2::after,
#button::after {
  content: "";
  position: absolute;
}
.job_wrapp {
  padding: 35px 20px 35px 30px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px;
  min-height: 267px;
  max-height: 267px;
  overflow: hidden;
}
.job-number h1 {
  color: rgb(16 165 21);
}
section.job::before {
  background-image: url("../img/pattern-1.jpg");
  bottom: 0px;
  left: 0px;
  width: 50%;
  height: 64%;
  background-size: cover;
}
.job_wrapp::before {
  background-image: url("http://localhost/project/kirtipur-ward-7/img/testimonial-three-shape-1.png");
  width: 100%;
  height: 100%;
  opacity: 0.1;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  top: 31px;
}
.job_list-wrapp {
  margin-top: -132px;
}
.job_wrapp::before {
  left: -411px;
  width: 100%;
  height: 100%;
  top: 0px;
  transition: all 0.5s ease 0s;
  opacity: 1;
  background: #10a515;
}
.job_wrapp:hover::before {
  left: 0px;
}
.job_wrapp:hover .job_title h4::before,
.btn-digi.btn-digi-primary,
button.readmore__toggle,
.btn-digi.btn-digi-sec:hover {
  background-color: white;
}
.job_wrapp:hover .job-img img {
  filter: brightness(0) invert(1);
}
.category_block_item ul a {
  font-size: 19px;
  color: rgb(231, 231, 231);
  line-height: 34px;
  border-bottom: 1px solid #7de98124;
  display: block;
}
.category_block_item ul a li {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 0px 20px;
}
.bg_green-2 {
  background: rgb(5, 165, 177);
}
.bg_greem-3 {
  background: rgb(0, 227, 243);
}
.bg_blue-4 {
  background: rgb(19, 191, 217);
}
.category_block_item img {
  width: 36px;
  filter: brightness(0) invert(1);
  margin: 16px;
}
.bg_green-1 {
  background: rgb(3, 142, 163);
}
.category_title h3 {
  padding: 9px 35px;
  margin-bottom: 0px !important;
}
section#mission .mission_img {
  min-height: 232px;
  max-height: 232px;
}
section#mission .mission_img img {
  min-height: unset;
  max-height: unset;
}
section.bg_img.banner {
  height: clamp(250px, 50vw, 450px);
  display: flex;
  background-size: cover;
  background-position: center center;
  align-items: center;
  margin-top: -132px;
}
.banner_content h1 {
  text-shadow: rgb(0, 0, 0) 2px 2px 4px;
}
.bg_black {
  background: rgb(2, 2, 2);
}
.about_three-block img {
  width: 58px;
}
.about_three-block {
  padding: 35px;
  border: 1px solid rgb(235, 235, 235);
}
.about_row-wrapp {
  margin-top: -283px;
  margin-bottom: 70px;
}
section#project_section {
  margin-top: 243px;
}
.video_wrapp {
  margin-left: 79px;
  margin-top: 80px;
}
.about_img::before {
  right: 0px;
  top: 0px;
  width: 448px;
  height: 470px;
  background: url(../img/pattern-2.png);
  background-repeat: no-repeat;
  z-index: 0;
}
.section_title h5 span::before {
  content: "//";
  padding-right: 4px;
}
section.about {
  padding-top: 0;
}
section.who_we-are::before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(6, 161, 11, 0.96),
      rgba(6, 161, 11, 0.96)
    ),
    url("../img/resize.jpg");
  background-size: contain;
}
section.who_we-are .section_title h5 span ,header,section.top_header ,.timelin-main li > div,div#counter-box,.testimonial_box-name {
  z-index: 9;
}
section.who_we-are .section_title h2,
div#counter-box {
  text-transform: uppercase;
}
.section_title {
  margin-bottom: 20px;
}
.section_margin {
  margin-bottom: 42px;
}
div#counter-box p,
.elementor-text-editor.elementor-clearfix {
  color: rgb(200, 255, 202);
}
section.who_we-are .section_title h2 span {
  font-size: 97px;
}
section.who_we-are h5 {
  color: #8df0be !important;
}
div#counter-box h1 span,
div#counter-box h1 small {
  font-size: clamp(35px, 6vw, 52px);
  line-height: clamp(45px, 7vw, 61px);
  letter-spacing: -0.04em;
}
.padding_y {
  padding: 88px 86px 88px 12px;
}
section.services.bg_img {
  background-image: url("../img/world_map.jpg");
  background-size: cover;
}
.services_icon img {
  width: 100px;
}
.services_icon img {
  max-width: 53px;
  min-width: 53px;
}
.services_wrapp {
  border: 1px solid rgba(128, 128, 128, 0.22);
  margin-bottom: 28px;
}
input.form-control {
  margin-bottom: 28px;
  line-height: 40px;
  border-radius: 3px;
  border: 0px;
}
section.job .slick-slide,
section#testimonial .slick-slide {
  margin: 0px 15px;
}
.bg_green-1 {
  background: #08920c;
}
ul.job_category-home {
  background: #10a515;
}
section.job .slick-list,
section#testimonial .slick-list {
  margin: 0px -15px;
}
.testimonial_box-icon {
  margin-top: -12px;
  padding-right: 20px;
}
.testimonial_box-icon i {
  font-size: 25px;
  color: rgb(220, 53, 69);
}
.testimonial_box-shape {
  bottom: -29px;
  left: 50px;
  width: 60px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  transform: rotateZ(45deg);
  display: none;
}
.testimonial_box-img img {
  width: 84px;
  height: 84px;
  border-radius: 50px;
  border: 2px solid rgb(229, 229, 229);
}
.slick-dots li button::before {
  font-size: 69px;
  color: rgb(220, 53, 69);
}
.slick-dots li button::before {
  color: rgb(220, 53, 69) !important;
}
.popular_tour h3 {
  font-size: 23px;
}
.popular_tour h3,
div#counter-box h1 span,
div#counter-box h1 small,
nav.cssmenu > ul > li > a {
  font-weight: 600;
}
.testimonial_box-img {
  margin-left: -55px;
  border: 10px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50%;
}
.contact-info {
  background: rgb(13, 162, 19);
  padding: 95px 124px;
}
section#nepal_map .section-title_block h6 {
  color: rgb(190, 237, 192);
}
.city-name h3 {
  font-weight: 400;
  color: rgb(190, 237, 192);
  font-size: clamp(25px, 3vw, 35px);
  line-height: clamp(35px, 3vw, 45px);
}
.con-address .email {
  font-size: 20px;
  padding-bottom: 20px;
  color: rgb(190, 237, 192) !important;
}
.contact-info h2 {
  font-size: 44px;
  color: rgb(190, 237, 192);
  font-size: clamp(32px, 3vw, 44px);
  line-height: clamp(35px, 3vw, 66px);
}
section#nepal_map .section-title_block > article > h1 {
  color: rgb(190, 237, 192);
}
.logo-item img {
  height: 120px;
}
.con-address p {
  font-size: 36px;
  color: rgb(190, 237, 192) !important;
  line-height: 44px;
}
.hover-btn span {
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.hover-btn span::after,
nav.cssmenu ul ul,
.category_content,
.category_hover-show,
.blog_content,
.portfolio-hover-content,
section.banner::before,
.about_page-img::before,
.about_img_text,
.team_content,
.team_social_icon,
.title_fixed,
.slider_content,
.waves,
.video-main i.fa.fa-play,
.job-img img,
.job_wrapp::before,
.testimonial_box-shape,
.banner_content,
.side-bar .menu_mobile .item a .dropdown,
.close-btn,
.form_div,
.process_count,
.timeline ol li div {
  position: absolute;
}
.hover-btn:hover span {
  padding-right: 25px;
}
.hover-btn:hover span::after {
  opacity: 1;
  right: 0px;
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.social_icon ul li a,
.social_sidebar ul a li {
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50px;
  display: block;
  text-align: center;
  font-size: 23px;
  margin-right: 13px;
}
nav.cssmenu {
  background: rgb(239, 230, 230);
}
.logo img {
  width: 168px;
  z-index: 999;
  left: 32px;
  top: -1px;
  padding: 10px;
  border-bottom-right-radius: 30px;
}
.icon_block_header strong {
  text-transform: uppercase;
}
.icon_block span {
  font-size: 33px;
  color: rgb(16 165 21);
  line-height: 43px;
}
.icon_block i.fa.fa-volume-control-phone {
  transform: rotate(-40deg);
}
.border_right::before {
  border-right: 1px solid rgb(186, 186, 186);
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  width: 1px;
  height: 65%;
}
.sticky {
  top: 0px;
  z-index: 99;
  width: 100%;
}
.sticky-bar {
  left: 0px;
  margin: auto;
  top: 0px;
  width: 100%;
  z-index: 9999;
  animation: 300ms ease-in-out 0s 1 normal none running fadeInDown;
  background: rgb(255, 255, 255);
  position: fixed !important;
}
@keyframes fadeInDown {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
nav.nav.navbar.sticky-bar {
  z-index: 99999;
  background: rgb(16, 12, 8);
  margin-top: -2px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px !important;
}
nav.nav.navbar.sticky-bar img {
  width: 90px;
  height: 92px;
  object-fit: cover;
}
nav.nav.navbar.sticky-bar a.navbar-logo {
  padding: 0px;
}
header.header.sticky-bar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
header.header.sticky-bar nav.cssmenu,
.video,
.logo-item img,
.social_icon ul li a,
.social_sidebar ul a li,
.logo img,
.side-bar .menu_mobile .item a:hover,
.timeline ol li div,
section.who_we-are .btn_theme .input_btn,
.round_imag img {
  background: white;
}
.sticky_logo img {
  display: none;
}
header.header.sticky-bar .sticky_logo img {
  display: block;
  width: 349px;
}
ul.sub_menu li {
  border-bottom: 1px solid rgb(81, 80, 98) !important;
}
.button_text span,
.button_text span a {
  font-size: 14px;
}
.icon_block.mr-2 i {
  font-size: 30px;
  margin-right: 9px;
}
section.top_header {
  margin-top: -13px;
}
.address-links h5 {
  color: rgb(216, 255, 218);
  font-size: 23px;
}
div#sidebar_menu .address-links ul li a {
  font-size: 17px;
  margin-top: 15px;
  font-family: Roboto, sans-serif;
  display: block;
  color: rgb(216, 255, 218) !important;
}
.courses-link-list li a:hover,
section.who_we-are .btn_theme .input_btn {
  color: #1f419b;
}
.footer-top {
  padding-top: 96px;
  padding-bottom: 50px;
}
.footer-top p,
.company-footer-contact-list li,
.footer-top .widget-title,
.courses-link-list li a,
.contact_wrapp-icon a,
.timeline ol li div,
nav.cssmenu > ul > li > a {
  color: black;
}
.footer-top .widget-title {
  margin-bottom: 25px;
}
.courses-link-list li i {
  margin-right: 5px;
}
.footer-top .small-post-title a {
  color: rgb(255, 255, 255);
  font-weight: 400;
}
.footer-bottom {
  padding: 13px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.address-links ul li,
.address-links li a {
  transition: all 0.4s ease 0s;
  margin-bottom: 16px !important;
  color: rgb(216, 255, 218) !important;
}
ul.courses-link-list li a {
  margin-bottom: 9px;
  border: 1px solid #80808026;
  padding: 7px;
  background: #f8f8f8;
  transition: 0.5s;
  display: block;
}
ul.courses-link-list li a:hover {
  background: #2574a9;
  border: 1px solid #2574a9;
}
div#footer_addresh a:hover {
  padding-left: 4px;
  color: #2574a9 !important;
}
ul.courses-link-list li {
  margin-bottom: 9px;
}
section.banner {
  height: clamp(250px, 50vw, 346px);
  display: flex;
  background-size: cover;
  background-position: center;
  align-items: center;
}
.banner_content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 8;
  width: 70%;
}
.banner_content h1 {
  text-shadow: 2px 2px 4px #000000;
  color: #fff !important;
}
.about_img-block img {
  height: clamp(310px, 50vw, 475px);
  object-fit: cover;
}
.about_img {
  padding: 55px 35px 0px 40px;
}
.section_title h3 a:hover,
.btn-digi.btn-digi-primary,
button.readmore__toggle,
.btn-digi.btn-digi-sec:hover,
.section_title h5 {
  color: #2574a9;
}
.section_title h3 a {
  color: #000000;
  transition: 0.5s;
}
.contact_wrapp-icon {
  box-shadow: 0 0 7px 0 rgb(43 52 59 / 8%);
  padding: 0 100px 47px;
}
.contact_wrapp-icon::before {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  background: #0f8f14;
  height: 5px;
  transition: 0.5s;
}
.contact_wrapp-icon:hover::before {
  width: 100%;
}
.contact_wrapp-icon h2 {
  height: 66px;
  width: 74px;
  display: block;
  margin: 0 auto;
  line-height: 45px;
  border: 0;
  background-color: #0f8f14;
}
.contact_wrapp-icon h2::before {
  top: -12px;
  left: 74px;
  border-width: 0 13px 12px 0;
  border-style: solid;
  border-right-color: transparent !important;
  border-left-color: transparent !important;
  display: block;
  border-color: #0f8f14;
  transition: all 0.4s;
  opacity: 0.7;
}
.contact_wrapp-icon h2::after {
  right: 0;
  height: 11px;
  width: 100%;
  top: -11px;
  z-index: -4;
  border-color: #0f8f14;
  transition: all 0.5s;
  background-color: #0f8f14;
  transform: scale(1, 1.2);
}
.contact_wrapp-icon h2 i.fa {
  font-size: 33px;
}
.contact_wrapp-icon a {
  font-size: 18px;
  min-height: 52px;
}
.message_text strong {
  color: #000000c7;
  margin-bottom: -15px;
  display: block;
  font-size: 20px;
}
.team_name h4 {
  font-size: 24px;
  line-height: 30px;
}
.team_name h4 {
  font-size: 24px;
  line-height: 30px;
}
.team_name {
  padding: 28px 30px 27px;
  border-radius: 0 0 15px 15px;
}
.team_wrapp {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 10px 20px 0px;
  transition: 0.5s;
}
.team_name p {
  color: rgb(0 135 5);
  margin-top: 5px;
}
.team_wrapp:hover {
  transform: translateY(-9px);
}
section.job_list .job-number h1 {
  color: rgba(6, 161, 11, 0.96);
}
section.job_list .job_wrapp::before {
  background-image: unset !important;
  background: rgba(6, 161, 11, 0.96);
}
.job_detail-block {
  background: #0da213;
  color: #ffffff;
  padding: 51px;
  margin-bottom: 20px;
}
.job_detail-block ul li {
  margin: 12px 0px;
}
.category_side-job .job_wrapp::before {
  background-image: unset !important;
  background: #0da213;
}
.category_side-job .job_wrapp {
  background-color: #0da213;
}
.wrap_counter h1 {
  color: #8df0be !important;
}
.zero_cost {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: clamp(35px, 6vw, 72px);
  line-height: clamp(45px, 7vw, 83px);
}
hr.hr_custom {
  border-top: 1px solid #979085;
}
.box_shadow {
  overflow: hidden;
  border: 1px solid #8080802e;
  padding: 25px;
  margin: 10px -4px;
}
.catagories_list-text ul li {
  margin-bottom: 9px;
  margin-left: 28px;
}
.catagories_list-text ul li::before {
  list-style: disc;
  top: 0;
  left: -27px;
  width: 22px;
  height: 22px;
  background-image: url(../img/catagories/tick.jpg);
  background-size: contain;
}
.side-bar {
  backdrop-filter: blur(15px);
  width: 400px;
  height: 100%;
  top: 0;
  right: -400px;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: right;
}
.side-bar::-webkit-scrollbar {
  width: 0px;
}
.side-bar.active {
  right: 0px;
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  background-size: cover;
  background-position: top;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.side-bar .menu_mobile {
  width: 100%;
  margin-top: 30px;
}
.side-bar .menu_mobile .item a {
  display: block;
  padding: 10px 28px;
  line-height: 30px;
  font-size: 20px;
}
.side-bar .menu_mobile .item a:hover {
  transition: 0.3s ease;
  color: #1ea924;
}
.side-bar .menu_mobile .item i {
  margin-right: 15px;
}
.side-bar .menu_mobile .item a .dropdown {
  right: 0;
  margin: 4px 20px;
  transition: 0.3s ease;
}
.menu-btn i.fas.fa-bars {
  color: #088738;
}
.side-bar .menu_mobile .item .sub-menu {
  background: #06960b;
  display: none;
}
.side-bar .menu_mobile .item .sub-menu a {
  padding-left: 80px;
}
.rotate {
  transform: rotate(90deg);
}
.close-btn {
  font-size: 23px;
  right: 0px;
  margin: 15px;
  cursor: pointer;
}
.side-bar {
  z-index: 99;
  position: fixed;
}
.menu-btn {
  background: #10a515;
  padding: 7px 11px;
  cursor: pointer;
  font-size: 26px;
  position: fixed;
  top: 37px;
}
.menu_mobile .item a,
.side-bar i.fa {
  color: #daffdc;
}
.slider_content h1 {
  font-size: 40px;
  line-height: 50px;
}
.slider_content {
  width: 70%;
}
.side-bar::before {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgb(13 162 19 / 93%);
  background-size: contain;
}
.address-links {
  padding-left: 31px;
}
.address-links ul li,
.address-links li a:hover {
  color: white !important;
}
.form_div {
  background: #1f419b;
  padding: 41px;
  top: 50%;
  transform: translateY(-50%);
}
section.who_we-are .btn_theme .input_btn {
  border: 1px solid white;
  padding: 10px 26px;
  cursor: pointer;
  border-radius: 3px;
}
.process img {
  background-size: cover;
}
.process {
  padding: 29px 186px 14px 186px;
}
section.image_bg {
  background-image: url(https://www.dkriver.com.np/wp-content/themes/archiesoft/img/services_bg.jpg);
  background-size: cover;
}
section.services::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f1f0f0eb;
}
section.certificate {
  background: #10a414;
}
.certificate_img img {
  border: 7px solid #fff;
  padding: 7px;
  background: #ede8ee;
  height: 355px;
  object-fit: contain;
}
section.certificate .section_title h2 {
  color: rgb(190, 237, 192);
}
section.slider_homepage .btn_theme a:hover {
  background: #10a515;
  border: 1px solid #10a515;
}
.form_title h3 {
  margin-bottom: 20px;
}
.about_wrapp.d-flex {
  padding: 40px;
  border: 1px solid #eee;
}
.about_wrapp.d-flex p,
.home-about-panel p {
  font-size: 17px;
}
.home-about-panel h5,
section.services h5,
section.image_bg h5,
.about_wrapp.d-flex p,
.home-about-panel p {
  color: #5c616c;
}
section#testimonial img.img-fluid {
  width: 138px;
  height: 100px;
  object-fit: contain;
}
div#footer_addresh a {
  color: black !important;
}
div#footer_addresh .address-links {
  padding-left: 0;
}
.testimonial-slide {
  padding: 131px 130px;
}
hr {
  width: 100%;
  height: 1px;
  border-top: 1px solid #eee;
}
.news_right_two {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.notice_img .event-det {
  padding: 30px;
  background: #2574a9;
}
.notice_img .event-det h1 {
  margin-bottom: 0;
}
section.code_of-ethics::before {
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100px;
  background: #2574a9;
  transform: translateX(-50%);
}
.inner_page-title.text-center p {
  font-size: 22px;
  line-height: 1.5;
}
.process_count {
  border-radius: 50%;
  height: 46px;
  width: 46px;
  top: 0;
  right: 44px;
  background: rgb(37 116 169);
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.round_imag img {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  padding: 41px;
  object-fit: contain;
}
section.how_it-hepl {
  background: rgb(13, 162, 19);
}
.round_imag {
  border: 1px solid #2574a9;
  border-radius: 100px;
  width: 190px;
  height: 190px;
}
.notice_img img.img-fluid {
  width: 47px;
  margin-right: 9px;
}
:root {
  --white: #fff;
  --black: #323135;
  --crystal: #a8dadd;
  --columbia-blue: #cee9e4;
  --midnight-green: #01565b;
  --yellow: #0da213;
  --timeline-gradient: rgb(248 248 248) 0%, rgb(255 255 255) 50%,
    rgba(206, 233, 228, 0) 100%;
}
.timeline {
  white-space: nowrap;
  background: #ddffdf;
}
.timeline::before,
.timeline::after {
  top: 0;
  bottom: 30px;
  width: 100px;
  z-index: 2;
}
.timeline .info {
  padding: 20px 40px;
  background: #0da213;
  white-space: normal;
  border-radius: 10px;
  height: 100%;
}
.timeline .info img {
  margin-bottom: 20px;
}
.timeline .info p {
  margin-top: 10px;
  color: #d3ffd5;
}
.timeline .info a {
  text-decoration: none;
}
.timeline ol::-webkit-scrollbar {
  height: 12px;
}
.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 92px;
}
.timeline ol::-webkit-scrollbar-thumb {
  background: var(--midnight-green);
}
.timeline ol::-webkit-scrollbar-track {
  background: var(--yellow);
}
.timeline ol {
  font-size: 0;
  padding: 250px 0;
  transition: all 1s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--yellow) var(--midnight-green);
}
.timeline ol li {
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 5px;
  background: #ffffff;
  scroll-snap-align: start;
}
.timeline ol li:last-child {
  width: 340px;
}
.timeline ol li:not(:first-child) {
  margin-left: 14px;
}
.timeline ol li:not(:last-child)::after {
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #2574a9;
  z-index: 1;
}
.timeline ol li div {
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  text-align: left;
}
.timeline ol li div::before {
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}
.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #fff transparent transparent transparent;
}
.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}
.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--white);
}
@media screen and (max-width: 800px) {
  .timeline {
    display: block;
  }
  .timeline::before,
  .timeline::after {
    width: 50px;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .info {
    display: none;
  }
}
section.timeline ol li h3 {
  color: #0da213;
}
.page-footer a {
  display: flex;
  margin-left: 4px;
}
section.job_request .about_img-block img {
  height: unset;
  object-fit: cover;
}
.another {
  margin-top: -30px;
  margin-bottom: 30px;
  display: block;
  font-size: 20px;
}
.timelin-main {
  padding: 60px 0;
}
.timeline-wrapper:before,
.timeline-wrapper:after {
  z-index: 4;
}
.timeline-wrapper:before {
  top: 0;
}
.timeline-wrapper:after {
  bottom: 0;
}
.timelin-main:before {
  top: 0;
  bottom: 0;
  width: 5px;
  z-index: 3;
}
.timelin-main li > div {
  width: 35%;
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid rgb(27 107 162);
  background-color: rgb(37 116 169);
  box-shadow: 0px 0px 3px 0px rgb(46, 152, 228);
}
.timelin-main li:nth-child(odd) > div {
  float: left;
}
.timelin-main li:nth-child(even) > div {
  float: right;
}
.timelin-main li:nth-child(even) {
  margin-top: 100px;
}
.timelin-main li:after {
  content: "";
  display: block;
  clear: both;
}
.timelin-main li:nth-child(odd) > div:after {
  left: 100%;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
.timelin-main li:nth-child(even) > div:after {
  right: 100%;
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
.timelin-main li > div:after {
  width: 44.5%;
  height: 5px;
}
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before,
.timelin-main li:before,
.timelin-main li > div:after,
.timelin-main li > div:before {
  background-image: -webkit-repeating-linear-gradient(
    315deg,
    rgb(20, 106, 195),
    rgb(2 93 167) 25%,
    rgb(13 162 19) 25%,
    rgba(39, 86, 193, 0.38) 50%
  );
  background-image: repeating-linear-gradient(
    135deg,
    rgb(37 116 169),
    rgb(2 93 167) 25%,
    rgb(13 162 19) 25%,
    rgba(39, 86, 193, 0.38) 50%
  );
  background-size: 12px 12px;
}
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main li:before,
.timelin-main li > div:before {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 0px 2px rgb(37 116 169);
  background: rgb(37 116 169);
}
.timeline-wrapper:before,
.timeline-wrapper:after,
.timelin-main:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.timelin-main li > div:after,
.timelin-main li > div:before {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.timelin-main li:before {
  top: 50%;
  left: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.timelin-main li:nth-child(odd):before {
  margin-top: 23px;
}
.timelin-main li:nth-child(even):before {
  margin-top: -24px;
}
.timelin-main li > div:after {
  -webkit-transform: translateY(-50%) rotate(10deg);
  transform: translateY(-50%) rotate(10deg);
}
.timelin-main li > div:before {
  right: 0;
  z-index: 3;
}
.timelin-main li:nth-child(odd) > div:before {
  right: -7px;
}
.timelin-main li:nth-child(even) > div:before {
  left: -7px;
}
@media screen and (max-width: 767px) {
  .timelin-main {
    padding: 75px 0;
  }
  .timelin-main li > div {
    width: 100%;
    padding: 40px 10px;
    text-align: center;
    box-shadow: none;
  }
  .timelin-main li:before {
    top: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .timelin-main li:nth-child(odd):before,
  .timelin-main li:nth-child(even):before {
    margin-top: -7px;
  }
  .timelin-main li:nth-child(odd) > div:before,
  .timelin-main li:nth-child(even) > div:before {
    bottom: -8px;
    left: 50%;
    top: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .timelin-main li > div:after {
    display: none;
  }
  .timelin-main li {
    margin: 65px 0;
  }
  .timelin-main li:nth-child(even) {
    margin-top: 0;
  }
  .timelin-main li:first-child {
    margin-top: 0;
  }
  .timelin-main li:last-child {
    margin-bottom: 0;
  }
}
.mission_img img {
  padding: 8px;
  border-radius: 24px;
}
section.mission .mission_img,
.mission_img img {
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgb(0 0 0 / 25%);
  min-height: 315px;
  max-height: 315px;
}
.mission_list ul li {
  margin-bottom: 16px;
}
section.about_page .mission_list ul li,
.program_content a.btn,
.event_date,
.report_download a,
.report_title h2,
.slide .slide__content--headings h2,
.team_name h4,
.team_name h4 {
  font-weight: 700;
}
.clients-logo {
  border: 1px solid #80808017;
}
.row_height {
  min-height: 396px;
  max-height: 396px;
}
.home-about-panel h2 {
  margin-bottom: 20px;
  margin-top: 10px;
}

.job_wrapp:hover .job-number h1, .job_wrapp:hover .job_title h4, .job_wrapp:hover .job_title p {
  color: rgb(255, 255, 255);
  position: relative;
}

.job_wrapp:hover .job_title h4::before {
  background-color: white;
}
 button.apply-btn.btn-primary:hover,input.wpcf7-form-control.wpcf7-submit.btn.btn-apply.btn-primary:hover{
  color: #0da213;
  background: white !important;
  transition: 0.5s !important;
}
button.apply-btn.btn-primary,input.wpcf7-form-control.wpcf7-submit.btn.btn-apply.btn-primary{
  background: #0da213 !important;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  padding: 11px 31px !important;
  border: 0;
  border-radius: 0;
  transition: 0.5s !important;
  border: 1px solid #0da213;
  display: inline-block;
}
div#form_apply input{
  border: 1px solid #bdc0c36e !important;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
}
div#form_apply select {
  border: 1px solid #bdc0c36e !important;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
}
div#form_apply input::placeholder{
  color: #495057 !important;
}
h5#exampleModalLabel {
  font-size: clamp(18px, 5vw, 18px);
  line-height: clamp(28px, 5vw, 25px);
  color: #0da213;
  font-weight: 500;
  text-transform: capitalize;
}